<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome-4.7.0/css/font-awesome.min.css">
</head>

<div class="contractorScreen_content">
    <div class="air">
        <div class="form-inner">
            <div class="stripes-block"></div>
            <div id="main">
                <div class="contractorScreen_materialBlock">
                    <span>Фундамент</span>
                    <div class="contractorScreen_materialBlockItem"><input type="number" value="100" id="material1"></div>
                    <span>Стены</span>
                    <div class="contractorScreen_materialBlockItem"><input type="number" value="100" id="material2"></div>
                    <span>Крыша</span>
                    <div class="contractorScreen_materialBlockItem"><input type="number" value="100" id="material3"></div>
                    <span>Степлер</span>
                    <div class="contractorScreen_materialBlockItem"><input type="number" value="100" id="material4"></div>
                    <span>Скотч</span>
                    <div class="contractorScreen_materialBlockItem"><input type="number" value="100" id="material5"></div>
                    <span>Скрепки</span>
                    <div class="contractorScreen_materialBlockItem"><input type="number" value="100" id="material6"></div>
                    <span>Скобы для степлера</span>
                    <div class="contractorScreen_materialBlockItem"><input type="number" value="100" id="material7"></div>
                </div>
            </div>
            <div class="form-row"></div>
            <div id="requests"></div>
            <div class="form-row"></div>
            <div class="buttonMenuBlock">
                <div class="button-menu" onclick="SetPrices()">
                    <div class="icon">
                        <i class="fa fa-gavel"></i>
                    </div>
                    <div class="icon-text">
                        <span>Установить цены</span>
                    </div>
                </div>
                <div class="button-menu" onclick="RefreshRequests()">
                    <div class="icon">
                        <i class="fa fa-refresh"></i>
                    </div>
                    <div class="icon-text">
                        <span>Обновить заявки</span>
                    </div>
                </div>
            </div>
            <div class="form-row"></div>
        </div>
    </div>
</div>
<script src="../js/contractorScript.js"></script>
