<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<div id="main">
    <p>Материал1</p><input type="number" value="100" id="material1">
    <p>Материал2</p><input type="number" value="100" id="material2">
    <p>Материал3</p><input type="number" value="100" id="material3">
    <input type="button" value="Установить цены" onclick="SetPrices()">
</div>
<input type="button" value="Обновить заявки" onclick="RefreshRequests()">
<div id="requests"></div>

<script src="../js/contractorScript.js"></script>