<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<div id="main"></div>

<div id="materials">
    <table>
        <th></th><th>Материал</th><th>Кол-во</th><th>Цены поставщика</th>
        <tr>
            <td><input type="checkbox" class="field" id="material1"></td>
            <td><label>Материал1</label></td>
            <td><input id="material1Inp" type="number"></td>
            <td><div id="contractorPrice1"></div></td>
        </tr>
        <tr>
            <td><input type="checkbox" class="field" id="material2"></td>
            <td><label>Материал2</label></td>
            <td><input id="material2Inp" type="number"></td>
            <td><div id="contractorPrice2"></div></td>
        </tr>
        <tr>
            <td><input type="checkbox" class="field" id="material3"></td>
            <td><label>Материал3</label></td>
            <td><input id="material3Inp" type="number"></td>
            <td><div id="contractorPrice3"></div></td>
        </tr>
    </table>
<!--    <label>Выделенная сумма на покупку</label><input type="number" id="requestPrice">-->
    <input type="button" value="Отправить заявку" onclick="SendRequest()"><br>
    <input type="button" value="Узнать цены на материалы" onclick="GetPrices()">
</div>

<script src="../js/directorScript.js"></script>