<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome-4.7.0/css/font-awesome.min.css">
</head>

<div class="air fit-content driverScreen_mainBlock">
    <div class="form-inner">
        <div class="stripes-block"></div>
        <div id="firmInfo">
        </div>
        <div id="main"></div>
         <div class="form-row">
        </div>
    </div>
</div>
<script src="../js/driverScript.js"></script>
