<head>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<div id="main">
    <input type="button" value="Рассмотреть заявку" onclick="GetRequest()">
</div>
<script src="../js/financerScript.js"></script>