<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome-4.7.0/css/font-awesome.min.css">
</head>

<div class="financerScreen_allContentBlock">
    <div class="air">
        <div class="form-inner">
            <div class="stripes-block"></div>
            <div id="firmInfo"></div>
            <div class="form-row"></div>
            <div class="form-row-icon">
                <i class="fa fa-search"></i>
                <input type="button" onclick="GetRequest()" value="Рассмотреть заявку">
            </div>
            <div id="main"></div>
            <table class="financerScreen_table">
                <th>Материал</th>
                <th>Цены поставщика</th>
                <tr>
                    <td><label>Фундамент</label></td>
                    <td>
                        <div id="contractorPrice1"></div>
                    </td>
                </tr>
                <tr>
                    <td><label>Стены</label></td>
                    <td>
                        <div id="contractorPrice2"></div>
                    </td>
                </tr>
                <tr>
                    <td><label>Крыша</label></td>
                    <td>
                        <div id="contractorPrice3"></div>
                    </td>
                </tr>
            </table>
            <table class="financerScreen_table">
                <th>Инструмент</th>
                <th>Цены поставщика</th>
                <tr>
                    <td><label>Степлер</label></td>
                    <td>
                        <div id="contractorPrice4"></div>
                    </td>
                </tr>
                <tr>
                    <td><label>Скотч</label></td>
                    <td>
                        <div id="contractorPrice5"></div>
                    </td>
                </tr>
                <tr>
                    <td><label>Скрепки</label></td>
                    <td>
                        <div id="contractorPrice6"></div>
                    </td>
                </tr>
                <tr>
                    <td><label>Скобы для степлера</label></td>
                    <td>
                        <div id="contractorPrice7"></div>
                    </td>
                </tr>
            </table>
            <div class="form-row"></div>
            <div class="form-row-icon">
                <i class="fa fa-info-circle"></i>
                <input type="button" onclick="GetPrices()" value="Узнать цены на материалы">
            </div>
        </div>
    </div>
</div>
<script src="../js/financerScript.js"></script>
