<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<div id="firmInfo"></div>
<div id="firmProjects"></div>

<script src="../js/managerScript.js"></script>