<html>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../js/script.js"></script>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome-4.7.0/css/font-awesome.min.css">
</head>

    <body>
        <div class="form-inner">
            <div class="stripes-block"></div>
            <div class="form-row">
                <label for="name">Название фирмы</label>
                <input type="text" id="firmName" disabled required>
            </div>
            <div class="Roles_mainMenuListItem">
                <div class="itemRole">
                    <input type="radio" class="field" id="customer" name="field">
                    <div>Покупатель</div>
                </div>
                <div class="itemRole">
                    <input type="radio" class="field" id="banker" name="field">
                    <div>Банкир</div>
                </div>
                <div class="itemRole">
                    <input type="radio" class="field" id="contractor" name="field">
                    <div>Поставщик</div>
                </div>
                <div class="itemRole">
                    <input type="radio" class="field" id="director" name="field" onchange="DirectorClick()">
                    <div>Директор</div>
                </div>
                <div class="itemRole">
                    <div id="firmList"></div>
                </div>
            </div>
            <div class="form-row">
            </div>
            <div class="form-row-icon">
                <i class="fa fa-hand-o-up"></i>
                <input type="button" onclick="SendResult()" value="Выбрать">
            </div>
            <div class="form-row-icon">
                <i class="fa fa-book"></i>
                <input type="button" onclick="GetFirmList()" value="Получить список фирм">
            </div>
        </div>
    </body>

</html>
