<html>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../js/script.js"></script>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome-4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="air fit-content">
        <div class="form-inner">
            <div class="stripes-block"></div>
            <div class="form-row">
                <label for="name">Название фирмы</label>
                <input type="text" id="firmName" disabled required>
            </div>
            <div class="Roles_mainMenuListItem">
                <div class="itemRole">
                    <div class="itemContent">
                        <input type="radio" class="field" id="customer" name="field">
                        <span>Покупатель</span>
                    </div>
                </div>
                <div class="itemRole">
                    <div class="itemContent">
                        <input type="radio" class="field" id="banker" name="field">
                        <span>Банкир</span>
                    </div>
                </div>
                <div class="itemRole">
                    <div class="itemContent">
                        <input type="radio" class="field" id="contractor" name="field">
                        <span>Поставщик</span>
                    </div>
                </div>
                <div class="itemRole">
                    <div class="itemContent">
                        <input type="radio" class="field" id="director" name="field" onchange="DirectorClick()">
                        <span>Директор</span>
                    </div>
                </div>
                <div class="itemRole">
                    <div class="itemContent">
                        <div id="firmList"></div>
                    </div>
                </div>
            </div>
            <div class="form-row">
            </div>
            <div class="buttonMenuBlock">
                <div class="button-menu" onclick="SendResult()">
                    <div class="icon">
                        <i class="fa fa-hand-o-up"></i>
                    </div>
                    <div class="icon-text">
                        <span>Выбрать</span>
                    </div>
                </div>
                <div class="button-menu" onclick="GetFirmList()">
                    <div class="icon">
                        <i class="fa fa-book"></i>
                    </div>
                    <div class="icon-text">
                        <span>Получить список фирм</span>
                    </div>
                </div>
            </div>
            <div class="form-row">
            </div>
        </div>
    </div>
</body>

</html>
