<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Ожидание</title>
</head>

<style>
    #start {
        visibility: hidden;
    }
</style>

<div>
    <p>Ожидание остальных игроков</p>
    <input type="button" value="Начать игру" id="start" onclick="startGame()">
</div>

<script src="../js/waitingRoomScript.js"></script>