.Roles_mainMenuBlock {
    width: 400px;
    height: auto;
    border: 2px solid black;
    border-radius: 20px;
}

.Roles_mainMenuHeader {
    text-align: center;
    width: 100%
}

.Roles_mainMenuListItem {
    width: 130px;
    padding-top: 27px;
}

.Roles_mainMenuListItem input {
    width: 30px;
    height: 30px;
}

.Roles_mainMenuListItem label {
    margin-bottom: 50px;
}

.Roles_itemCompanyName {
    padding: 10px 10px 10px 0px;
}

#firmList {
    display: flex;
    flex-wrap: wrap
}

#firmList div {
    display: flex;
    padding-top: 5px;
}

#main {
    width: 100%;
}

#main span {
    font-weight: 700;
    font-size: 24px;
}

.directorScreen_companyInfo {
    display: flex;
    flex-wrap: wrap;
}

.directorScreen_companyInfo span {
    padding-top: 10px;
    margin-left: 25px;
}

.directorScreen_materialsTable {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.directorScreen_requestHeader {
    display: flex;
    justify-content: center;
}

.directorScreen_newObject {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.directorScreen_newObject input {
    width: 137px;
    height: 32px;
}

.directorScreen_newObject div {
    padding: 10px;
}

.directorScreen_newObject span {
    padding-right: 10px;
}

.directorScreen_materialsTable td .field {
    width: 40px;
    height: 40px;
}

.builderScreen_tableBlock td input{
    width: 100px;
    height: 30px;
    margin-bottom: 5px;
}

.itemRole {
    display: flex;
    width: 130px;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 10px
}

.directorScreen_firmName {
    font-size: 24px;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

.builderScreen_tableTable {
    width: 100%;
}

.builderScreen_tableTable td:first-child {
    padding: 10px 0px 10px 20px;
}

#firmInfo table {
    width: 100%;
}

#firmInfo h1 {
    text-align: center;
}

#firmInfo input[type="button"] {
    width: 100px;
    height: 40px;
    white-space: pre-line;
}

#firmMaterials {
    display: flex;
    justify-content: center;
}

#firmMaterials input {
    width: 100px;
    height: 30px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.foremanScreen_block .air{
    max-width: 670px;
}

.financerScreen_block {
    width: 250px;
    display: flex;
    flex-wrap: wrap;
}

.financerScreen_block span {
    font-weight: 700;
    font-size: 24px;
    padding-top: 10px;
    margin-left: 25px;
}

.financerScreen_requestButton {
    width: 150px;
    height: 40px;
    margin-top: 40px;
    margin-left: 33%;
}

.financerScreen_table {
    display: flex;
    justify-content: center;
    padding: 19px 10px 0px 10px;
}

.contractorScreen_materialBlock {
    padding: 10px 0px 10px 25px;
    width: 291px;
    display: flex;
    flex-wrap: wrap;
}

.contractorScreen_materialBlock p {
    margin-top: 28px;
    padding-right: 5px;
}

.contractorScreen_materialBlock input {
    margin-top: 10px;
    font-size: 24px;
}

* {
    box-sizing: border-box;
}

.air {
    max-width: 450px;
    margin: 50px auto 0;
    padding: 20px;
    background: #E4E3DF;
    font-family: 'Oswald', sans-serif;
}

.form-inner {
    border: 2px solid #909090;
    border-bottom: none;
    height: auto;
}

.stripes-block {
    position: relative;
    padding: 15px;
    margin-bottom: 20px;
    background: repeating-linear-gradient(-45deg, #E4E3DF, #E4E3DF 5px, #909090 6px, #909090 8px);
    border-bottom: 2px solid #909090;
}

.stripes-block:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 8px;
    margin-left: -6px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #fffffe;
    box-shadow: 0 0 0 1px #090606, 0 0 0 12px #9c8778;
}

.form-row {
    position: relative;
    padding: 10px;
    border-bottom: 2px solid #909090;
    padding-bottom: 20px;
}

.form-row label {
    display: block;
}

.form-row input {
    display: block;
    width: 100%;
    padding: 0;
    line-height: 30px;
    border-width: 0;
    border: background: #E4E3DF;
}

.form-row-icon {
    position: relative;
    border-bottom: 2px solid #909090;
}

.form-row-icon .fa {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #909090;
    color: #E4E3DF;
}

.form-row-icon input {
    display: block;
    width: 100%;
    padding: 0 10px 0 50px;
    line-height: 40px;
    box-sizing: border-box;
    border-width: 0;
    background: #E4E3DF;
}

.form-row-icon .fa-paper-plane-o {
    border-bottom-color: #909090;
    cursor: pointer;
}

.form-row-icon input[type="button"] {
    cursor: pointer;
}

.form-row-icon input[type="button"]:hover {
    color: #909090;
}

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
}

th,
td:first-child {
    background: #c9dbf4;
    padding: 10px 20px;
}

th,
td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}

td {
    background: #D8E6F3;
}

th:first-child,
td:first-child {
    text-align: left;
}

.td-count input {
    width: 100px;
    height: 35px;
}
